<div class="section-content">
    <div class="limited-container" #limitedContainerElementRef></div>
    <div class="content-scroller scroller-container w-full overflow-hidden" #scollerContainerElementRef>
        <div class="categories w-fit flex gap-5 justify-start items-stretch"
        [style.paddingLeft.px]="this.paddingX()"
        [style.paddingRight.px]="this.paddingX()"
        >
            @for (content of contents(); track $index) {
                <div class="content relative w-full max-w-[300px] md:max-w-[500px] shrink">
                    <app-posts-slider
                    [touchMove]="false"
                    [category]="content.category"
                    [posts]="content.posts()"
                    />
                </div>
            }
        </div>
    </div>
    <div class="arrow-controllers mt-6 w-full flex justify-center items-center">
        <div class="prev h-10">
            <button class="" (click)="this.prev()">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="40" rx="20" fill="white"/>
                    <path d="M22.5 15L17.5 20L22.5 25" [attr.stroke]="(this.activeIndex > 0) ? '#00BAEE' : '#555555'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
        <div class="next h-10">
            <button class="" (click)="this.next()">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5 25L22.5 20L17.5 15" [attr.stroke]="(this.activeIndex < this.itemsArray().length -1) ? '#00BAEE' : '#555555'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
</div>