<div class="header-container">
    <div class="limited-container py-4 flex justify-between items-center">
        <div class="logo">
            <img src="assets/static/logo-01.png" alt="" class="">
        </div>
        <div class="menu">
            <button class="">
                <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 7.92859H25M5 15.4286H25M5 22.9286H25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
</div>