@if (templateSize() == 'long') {
    @if(!this.isLoading()){
        <div class="box-container w-full"
        appCardDimentions [dimentions]="dimentions()"
        >
            <div class="box flex flex-col gap-2">
                <div class="top-content flex flex-col gap-3">
                    <div class="image relative w-full h-[235px]">
                        <img [ngSrc]="post().image.medium" fill="" class="w-full h-full object-cover object-center" [alt]="'Imagem da publicação'">
                    </div>
                    <div class="tiny-details flex justify-between items-center">
                        <div class="created-at">
                            <p class="text-sm font-semibold text-[#686868]/75 text-left">
                                {{ post().created_at | friendlyFormat }}
                            </p>
                        </div>
                        <div class="categories flex justify-start items-center">
                            @if (transformedCategory()[0]) {
                                @let firstCategory = transformedCategory()[0];
                                <div
                                class="chip p-[10px] z-[1] max-w-[100px] text-sm font-semibold w-fit border rounded-full"
                                [style.color]="firstCategory!.color"
                                [style.borderColor]="firstCategory!.color"
                                >
                                    <p class=" line-clamp-1">
                                        {{ firstCategory!.name }}
                                    </p>
                                </div>
                            }
                            @if (transformedCategory().slice(1).length > 0) {
                                @let remainingCategories = transformedCategory().slice(1).length;
                                <div class="chip p-[10px] bg-white min-w-[42px] h-[42px] -ml-[7px] flex justify-center items-center z-[2] text-sm font-semibold text-secondary border border-secondary rounded-full">
                                    +{{ remainingCategories }}
                                </div>
                            }
                        </div>
                    </div>
                    <div class="title">
                        <a [routerLink]="['/contents/article/' + post().slug]" class="font-semibold text-base text-secondary line-clamp-2" [innerHTML]="post().title | safeArticleContent">
                            <!-- {{ post().title }} -->
                        </a>
                    </div>
                </div>
                <div class="bottom">
                    <div class="author">
                        <p class="text-sm text-gray">Por: {{ post().author }}</p>
                    </div>
                </div>
            </div>
        </div>
    } @else {
        <div class="box-container relative hidden md:block"
        appCardDimentions [dimentions]="dimentions()"
        >
            <div class="box relative flex flex-col gap-2">
                <div class="top-content flex flex-col gap-3">
                    <div class="image placeholder !relative !w-full !h-[235px] rounded"></div>
                    <div class="tiny-details flex justify-between items-center">
                        <div class="created-at placeholder !w-fit !relative">
                            <p class="text-sm font-semibold text-transparent text-left">
                                Placeholder text
                            </p>
                        </div>
                        <div class="categories flex justify-start items-center">
                            <div
                            class="chip p-[10px] z-[1] text-sm font-semibold placeholder !w-fit !relative rounded-full"
                            >
                                <p class=" line-clamp-1 text-transparent">
                                    Placeholder
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="title placeholder !w-full !relative rounded">
                        <a class="font-semibold text-base text-transparent">
                            Placeholder text
                        </a>
                    </div>
                </div>
                <div class="bottom">
                    <div class="author placeholder !relative !w-fit !h-fit rounded">
                        <p class="text-sm text-transparent">Placeholder text</p>
                    </div>
                </div>
            </div>
        </div>
    }

} @else {
    @if (!this.isLoading()) {
        <div class="box-container"
        appCardDimentions [dimentions]="dimentions()"
        >
            <div class="box relative flex gap-[10px]">
                <div class="image relative w-[85px] h-[85px]">
                    <img [ngSrc]="post().image.thumbnail" fill="" class="w-full h-full object-cover object-center" [alt]="'Imagem da publicação'">
                </div>
                <div class="description max-w-[190px] flex flex-col justify-between gap-y-[0px]">
                    <div class="title">
                        <h2 class="text-sm font-medium text-secondary line-clamp-3">
                            <a [routerLink]="['/contents/article/' + post().slug]" [innerHTML]="post().title | safeArticleContent">
                                <!-- {{ post().title }}  -->
                            </a>
                        </h2>
                    </div>
                    <div class="created_at">
                        <p class="text-sm font-semibold text-[#686868]/85 text-left">
                            {{ post().created_at | friendlyFormat }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    } @else {
        <div class="box-container"
        appCardDimentions [dimentions]="dimentions()"
        >
            <div class="box flex gap-[10px]">
                <div class="image placeholder !relative !w-[85px] !h-[85px] rounded"></div>
                <div class="description max-w-[190px] flex flex-col justify-between gap-y-[0px]">
                    <div class="title">
                        <h2 class="placeholder !relative !w-full !h-fit text-transparent text-sm font-medium">
                            Placeholder text for title
                        </h2>
                        <h2 class="placeholder !relative mt-1 !w-[80%] !h-fit text-transparent text-sm font-medium">
                            Placeholder text
                        </h2>
                    </div>
                    <div class="created_at">
                        <p class="placeholder !relative !w-full !h-fit text-transparent text-sm font-semibold text-left">
                            Placeholder text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
}