<div class="top-content pt-36 pb-20 md:pb-28 gap-[1.875rem] flex flex-col justify-center items-center md:gap-16">
    <div class="container  lg:px-10 lg:bg-white lg:py-[60px] max-w-[95%] lg:max-w-[1024px] flex flex-col gap-y-7 lg:gap-[34px] justify-center items-center">
        <div class="content w-full flex flex-col gap-6 xlg:gap-[50px]">
            <div class="upper-content flex flex-col gap-5 justify-center items-center">
                <div class="tiny">
                    <h5 class="text-xl md:text-[1.875rem] md:leading-9 font-bold text-center text-gray">
                        404
                    </h5>
                </div>
                <div class="title">
                    <h1 class=" text-3xl md:text-5xl md:leading-9 font-bold text-center text-auxiliary">
                        Página não encontrada
                    </h1>
                </div>
                <div class="excerpt max-w-[523px]">
                    <p class="text-sm md:text-base text-center text-gray">
                        A página que procura deve ter sido removida, renomeada ou está indisponível temporariamente
                    </p>
                </div>
            </div>
            <div class="option-content flex gap-4 justify-center items-center">
                <a
                [routerLink]="['/']"
                class="text-sm cursor-pointer uppercase bg-auxiliary text-white py-4 px-6 w-fit rounded-full"
                >
                    Ir para a página inicial
                </a>
            </div>
        </div>
    </div>
</div>