<div class="site-container">
  <div
  class="sticky-header backdrop-blur-[30px] w-full duration-[.6s] fixed top-0 z-[100]"
  [ngClass]="{
    'bg-[#0A0424]/60' : themeService.themePage$() === theme.HOME,
    'bg-[#0D6594]/60' : themeService.themePage$() === theme.PODNERD,
    'bg-[white]/60' : themeService.themePage$() === theme.WHITE,
  }"
  >
    <app-header />
  </div>
  <div class="content-wrapper">
    <router-outlet />
  </div>
  <div class="static-footer mt-16">
    <app-footer />
  </div>
</div>