<div class="page-content-wrapper pt-32 flex flex-col gap-[1.875rem] md:gap-16">
    <div class="hero-container flex flex-col gap-6">
        <div class="hero-section">
            <app-hero
            [categories]="this.categories()"
            [isLoading]="this.loaderService.getLoadingStatus('categories')()"
            [advertisements]="this.getAdvertisements()"
            />
        </div>
        <div class="highlighted-categories">
            <app-highlighted-categories
            [isLoading]="this.loaderService.getLoadingStatus('highlightedCategories')()"
            [contents]="this.highlightedContents()"
            />
        </div>
        <div class="latest-posts">
            <app-latest-posts
            [posts]="this.latestPosts()"
            />
        </div>
    </div>
    <div class="advertisement">
        <app-advertisements
        [label]="true"
        [level]="'level-1'"
        [limitedContainer]="true"
        [advertisementsContents]="this.getAdvertisements()"
        />
    </div>

    <div class="blocks-content-before-advertisement">
        <app-block-content
        [blockContent]="this.blocksBeforeAdvertisement()"
        [isLoading]="this.loaderService.getLoadingStatus('posts')()"
        />
    </div>

    <div class="advertisement">
        <app-advertisements
        [label]="true"
        [level]="'level-2'"
        [limitedContainer]="true"
        [advertisementsContents]="this.getAdvertisements()"
        />
    </div>

    @if (this.blocksAfterAdvertisement().length > 0) {
        <div class="blocks-content-after-advertisement">
            <app-block-content
            [blockContent]="this.blocksAfterAdvertisement()"
            [isLoading]="this.loaderService.getLoadingStatus('posts')()"
            />
        </div>
    }
    
</div>