/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Light-300.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Regular-400.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Medium-500.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-SemiBold-600.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Bold-700.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-ExtraBold-800.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/inter/Inter-Black-900.ttf');
  font-weight: 900;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.scroller-container{
    scroll-behavior: smooth !important;
}

:root{
  --max-w: 90%;
  --max-w-1536: 1536px;
  --primary-color: #00BAEE;
  --secondary-color: #0A042A;
  --gray: #555555;
}

.limited-container{
  max-width: 95%;
  margin: 0px auto;
}

@media screen and (min-width: 1280px) {
  .limited-container{
      max-width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .limited-container{
      max-width: 90%;
  }
}
@media screen and (min-width: 1600px) {
  .limited-container{
      max-width: 75%;
  }
}
@media screen and (min-width: 1900px) {
  .limited-container{
      /* max-width: var(--max-w-1536); */
      max-width: 1280px;
      /* max-width: 90%; */
  }
}

.overflow-x-auto::-webkit-scrollbar,
.no-scroller::-webkit-scrollbar
{
  display: none;
}
.overflow-x-auto,
.no-scroller{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.appear-softly{
  animation: appearSoftly .5s forwards ease-in-out;
}

@keyframes appearSoftly {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.appear-softly-from-top{
  animation: appearSoftlyFromTop .3s forwards ease-in-out;
}

@keyframes appearSoftlyFromTop {
  0% {
      opacity: 0;
      translate: 0 -15px;
  }
  100% {
      opacity: 1;
      translate: 0 0px;
  }
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: placeholderAnimation 3s infinite linear;
}

@keyframes placeholderAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
textarea.is-invalid,
input.is-invalid{
  border-color: #FF9A9A;
}

/* Podnerd Iframe stylization */
.iframe-wrapper {
    position: relative;
    width: 100%; /* O iframe ocupa a largura completa do contêiner */
    padding-top: 58%; /* Proporção do iframe: (altura / largura) * 100 */
    overflow: hidden; /* Garante que nada ultrapasse o contêiner */
}

.iframe-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.iframe-inner iframe {
    width: 100%;
    height: 100%;
}