<div class="podcasts-container flex flex-col gap-y-[30px]">
    <div class="scroller w-full overflow-x-auto">
        <div class="container w-full md:w-max xl-1230:w-full flex flex-col gap-y-[30px] md:flex-row md:gap-x-5 justify-center md:justify-start xl-1230:justify-center items-center md:items-stretch">
            @if (!isLoading()) {
                @for (podcast of podcasts(); track $index) {
                    <app-podcast-template
                    class="w-[18.75rem] appear-softly lg:w-[calc((100%/3)-calc(50px/3))] xl-1230:w-[calc((100%/3)-calc(40px/3))] 2xl:w-[calc((100%/3)-(80px/3))]"
                    [podcast]="podcast"
                    />
                }
            } @else {
                @for (placeholder of placeholderArray(); track $index) {
                    <div class="box-container appear-softly w-[18.75rem] lg:w-[calc((100%/3)-calc(50px/3))] xl-1230:w-[calc((100%/3)-calc(40px/3))] 2xl:w-[calc((100%/3)-(80px/3))]">
                        <div class="box w-full md:min-w-[18.75rem] lg:min-w-full flex flex-col gap-4">
                            <div class="image placeholder !w-full rounded !h-[300px] !lg:h-[370px] !relative">
                            </div>
                            <div class="tiny-details flex gap-4 justify-start items-center">
                                <div class="episode">
                                    <p class="placeholder !w-fit !relative rounded text-transparent text-xs xs:text-sm font-semibold">
                                        Placeholder text
                                    </p>
                                </div>
                                <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect y="0.620605" width="5" height="5" fill="#BBBBBB"/>
                                </svg>
                                <div class="duration">
                                    <p class="placeholder !w-fit !relative rounded text-transparent text-xs xs:text-sm font-semibold">
                                        Placeholder text
                                    </p>
                                </div>
                            </div>
                            <div class="main-details flex justify-between items-center">
                                <div class="podcast-title placeholder !w-[80%] !relative rounded text-transparent">
                                    <a
                                    [routerLink]="null"
                                    class="text-transparent font-medium xs:font-semibold text-sm xs:text-lg xs:leading-6 line-clamp-3">
                                        Placeholder text
                                    </a>
                                </div>
                                <div class="button placeholder !relative rounded-full text-transparent !w-[44px] !h-[45px]"></div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    @if(showButton() && !this.isLoading()){
        <div class="see-more cta flex justify-center">
            <a [routerLink]="['/podnerd']" class="w-full md:w-fit flex gap-[10px] justify-center items-center py-4 px-6 bg-primary text-white rounded-full">
                Ver todos os episódios
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.6205H15.5M15.5 10.6205L11.3333 6.45386M15.5 10.6205L11.3333 14.7872" stroke="white" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
    }
</div>