<div class="section-container flex flex-col gap-6">
    @if (!isLoading()) {
        <div class="main appear-softly flex flex-col gap-5 max-w-[563px]">
            <div class="title">
                <h1 class="text-xl md:text-[1.875rem] md:leading-9 font-bold text-left text-secondary">
                    {{ this.thePost().title }}
                </h1>
            </div>
            <div class="excerpt">
                <p class="text-sm md:text-base text-left text-gray">
                    {{ this.thePost().excerpt }}
                </p>
            </div>
            <div class="categories flex justify-start gap-3 flex-wrap">
                @for (category of this.thePost().categories; track $index) {
                    <div
                    class="chip p-[10px] z-[1] text-sm font-semibold w-fit border rounded-full"
                    [style.color]="category.color"
                    [style.borderColor]="category.color"
                    >
                        <p class="">
                            {{ category.name }}
                        </p>
                    </div>
                }
            </div>
            <div class="tiny-details flex flex-wrap items-center gap-[10px]">
                <div class="author">
                    <p class="text-sm text-gray ">
                        Por: {{ this.thePost().author }}
                    </p>
                </div>
                <div class="vector">
                    <svg width="5" height="5" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="5" height="5" rx="2.5" fill="#9E9E9E"/>
                    </svg>
                </div>
                <div class="created-at">
                    <p class="text-sm text-gray">
                        {{ this.thePost().created_at | friendlyFormat }}
                    </p>
                </div>
            </div>
        </div>
        <div class="hero appear-softly">
            <div class="img w-full max-h-[637px] overflow-hidden">
                <img
                class="w-full h-full object-cover object-center"
                [src]="this.thePost().image.full"
                [alt]="'Imagem principal da publicação: ' + this.thePost().title">
            </div>
        </div>
    } @else {
        <div class="main flex flex-col gap-5 max-w-[563px]">
            <div class="title">
                <h1 class="placeholder !w-full !h-fit !relative text-transparent rounded text-xl md:text-[1.875rem] md:leading-9 font-bold text-left">
                    First placeholder for title
                </h1>
                <h1 class="placeholder mt-2 !w-fit !h-fit !relative text-transparent rounded text-xl md:text-[1.875rem] md:leading-9 font-bold text-left">
                    Second placeholder for title
                </h1>
            </div>
            <div class="excerpt">
                <p class="placeholder !w-full !h-fit !relative text-transparent rounded text-sm md:text-base">
                    Placeholder text
                </p>
                <p class="placeholder my-2 !w-[90%] !h-fit !relative text-transparent rounded text-sm md:text-base">
                    Placeholder text for middle part
                </p>
                <p class="placeholder !w-fit !h-fit !relative text-transparent rounded text-sm md:text-base">
                    Placeholder text for bottom
                </p>
            </div>
            <div class="categories flex justify-start gap-3 flex-wrap">
                @for (category of [0,1]; track $index) {
                    <div class="chip placeholder !w-fit !h-fit !relative text-transparent p-[10px] z-[1] text-sm font-semibold rounded-full">
                        Placeholder
                    </div>
                }
            </div>
            <div class="tiny-details flex flex-wrap items-center gap-[10px]">
                <div class="author">
                    <p class="placeholder !w-fit !h-fit !relative text-transparent rounded text-sm">
                        Placeholder text
                    </p>
                </div>
                <div class="vector">
                    <svg width="5" height="5" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="5" height="5" rx="2.5" fill="#9E9E9E"/>
                    </svg>
                </div>
                <div class="created-at">
                    <p class="placeholder !w-fit !h-fit !relative text-transparent rounded text-sm">
                        Placeholder text
                    </p>
                </div>
            </div>
        </div>
        
        <div class="hero appear-softly">
            <div class="img placeholder !w-full !h-[237px] md:!h-[437px] lg:!h-[637px] !relative text-transparent rounded overflow-hidden"></div>
        </div>
    }
</div>